body {
    /*background: tomato;*/
}

:root {
    --main-color: #3a6593; 
    --light-color: #5a7fa5; 
    --main-font: 'Roboto', sans-serif; 
    --font-size: 19px;
    --large-font: 22px;

}
/*var(--large-font)*/
/*var(--orange);*/
.header {
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 20px;
    box-sizing: border-box;
    /*display: flex;*/
    /*align-items: center;*/
    /*justify-content: space-between;*/
}

.header__main-info {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.main-info__logo--img {
}

.serv {
    list-style: none;
    margin: 0;
    padding: 0;
}

.serv__li {
    font-size: var(--large-font);
    font-family: var(--main-font);
    font-weight: 300;

    line-height: 1;
    text-align: left;
    display: flex;
    align-items: center;
}

.serv__li:first-child {
    margin-bottom: 10px;
}

.serv__li:before {
    content: "";
    width: 10px;
    height: 10px;
    line-height: 25px;
    border-radius: 50%;
    display: inline-block;
    background: var(--main-color);
    margin-right: 10px;
}

.header__main-contacts {
    position: relative;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-around;
}

.header__main-contacts:before {
    content: "";
    display: block;
    width: 3px;
    height: 110%;
    position: absolute;
    left: -10%;
    top: -5%;
    background: #cccccc;
}

.main-contacts__a {
    font-size: 30px;
    font-family: var(--main-font);
    color: rgb( 0, 0, 0 );
    line-height: 1.6;
    text-align: right;
    text-decoration: none;
    cursor: pointer;
}

.main-contacts__a--phone {
    font-weight: 500;
}

.main-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: flex-start;
}

.header__main-nav {
    padding-left: 45px;
    padding-top: 20px;
    padding-bottom: 20px;
}

.main-nav__li {
    margin-right: 30px;
}

.main-nav__a {
    font-size: var(--large-font);
    font-family: var(--main-font);
    font-weight: 300;
    color: rgb( 0, 0, 0 );
    line-height: 0.667;
    text-align: left;
    text-decoration: none;
}
.first.wrap__section {
   max-width: 100%;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: center;
    background: var(--light-color);
    margin: 0;
}

.first__f-img {
    flex: 1 1 60%;
}

.f-img__img {
    width: 100%;
    max-height: 750px;
    object-fit: cover;
    margin-bottom: -4px;
}

.first__f-about {
    flex: 1 1 40%;
}

.f-about {
    list-style: none;
    margin: 0;
    display: flex;
    flex-flow: column nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
    height: 100%;
    padding: 50px;
}

.f-about__li {  
    font-size: var(--large-font);
    font-family: var(--main-font);
    color: rgb( 255, 255, 255 );
    line-height: 1.286;
    text-align: left;
    margin-bottom: 30px;
}

.f-about__li:before {
    content: "";
    width: 12px;
    height: 17px;
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' data-icon='angle-right' role='img' viewBox='0 0 256 512'%3E%3Cpath fill='%23fff' d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/%3E%3C/svg%3E") center center no-repeat;
    background-size: cover;
    display: inline-block;
    margin-right: 15px;
}

.wrap__section {
    margin: 100px auto;
    width: 100%;
    max-width: 1400px;
    box-sizing: border-box;
}
.second.wrap__section {
    max-width: 1600px;
    width: 100%;
}

.section__h2 {
    font-size: 30px;
    font-family: var(--main-font);  
    text-align: center;
    font-weight: 500;
    text-transform: uppercase;
    padding: 0;
    margin: 0;
    margin-bottom: 60px;
}

.second__slider {
    width: 100%;
}

.slider__s-doc {
    margin: 0 auto;
    position: relative;
    display: inline-flex!important;
    flex-flow: column;
    align-items: center;
    justify-content: space-between;
    height: 400px!important;
}

.s-doc__data:after {
    content: "";
    display: block;
    height: 1px;
    background: #757575;
    margin: 0 auto;
    margin-top: 10px;
}

.s-doc__name {
    width: 80%;
    display: block;
    text-align: center;
    margin: 0 auto;
    /* margin-top: 28px; */
    font-size: 17px;
    font-family: var(--main-font);
    text-align: center;
    font-weight: 300;
}
.s-doc__data {
    display: block;
    width: 80%;
    margin: 0 auto;
    margin-top: 10px;
    font-size: 17px;
    font-family: var(--main-font);
    text-align: left;
    opacity: 0.588;
    font-weight: 300;
}
.s-doc__img {
    width: 80%;
    object-fit: contain;
    filter: grayscale(100%);
    margin: 0 auto;
    max-height: 280px;
}
.s-doc__img:hover {
    /*position: absolute;*/
    filter: grayscale(0);
    /*width: 150%;*/
    /*z-index: 110;*/
}
.slick-arrow {
    position: absolute;
    top: 50%;
    background: transparent;
    color: transparent;
    border: none;
    width: 1px;
    height: 1px;
    font-size: 0;
    z-index: 100;
    cursor: pointer;
}
.slick-next{
    right: 40px;
    transform: translate(15px, -50%);
}
.slick-prev {
    transform: translate(-15px, -50%);
    left: 40px;
}
.slick-prev:before,
.slick-next:before{
    background-size: cover;
    content: "";
    display: block;
    width: 40px;
    height: 60px;
    position: absolute;
}
.slick-next:before{
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-right' role='img' viewBox='0 0 256 512' style='&%2310; fill: %23000;&%2310;'%3E%3Cpath d='M224.3 273l-136 136c-9.4 9.4-24.6 9.4-33.9 0l-22.6-22.6c-9.4-9.4-9.4-24.6 0-33.9l96.4-96.4-96.4-96.4c-9.4-9.4-9.4-24.6 0-33.9L54.3 103c9.4-9.4 24.6-9.4 33.9 0l136 136c9.5 9.4 9.5 24.6.1 34z'/%3E%3C/svg%3E") center center no-repeat;
    top: -30px;
    left: -20px;
}
.slick-prev:before  {
    background: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='angle-left' class='svg-inline--fa fa-angle-left fa-w-8' role='img' viewBox='0 0 256 512' fill='%23000'%3E%3Cpath d='M31.7 239l136-136c9.4-9.4 24.6-9.4 33.9 0l22.6 22.6c9.4 9.4 9.4 24.6 0 33.9L127.9 256l96.4 96.4c9.4 9.4 9.4 24.6 0 33.9L201.7 409c-9.4 9.4-24.6 9.4-33.9 0l-136-136c-9.5-9.4-9.5-24.6-.1-34z'/%3E%3C/svg%3E") center center no-repeat;
    top: -30px;
    right: -20px;
}

.third.wrap__section {
    max-width: 1400px;
}
.third__all-steps{
    max-width: 1220px;
    margin: 0 auto;
}
.all-steps__step{
    display: flex;
    flex-flow: row nowrap;
    align-items: center;
    justify-content: space-around;
}
.step__number{
    flex: 1 1 6%;
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: var(--main-font);
    font-size: 100px;
    color: var(--light-color);
    font-weight: bold;
    line-height: 1.25;
    text-align: center;
}
.step__desc{
    flex: 1 1 70%;
    margin-left: -3%;
    font-family: var(--main-font);
  font-size: var(--font-size);
  color: rgb( 0, 0, 0 );
  line-height: 1.333;
  text-align: left;
}
.fourth.wrap__section{
    max-width: 100%;
}
.map{
    width: 100%;
    height: 480px;
    max-width: 1700px;
    margin: 0 auto;
    display: block;
    box-sizing: border-box;
}
.fourth__info{
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: center;
}
.btn{
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: rgb( 255, 255, 255 );
  text-align: center;
  background: var(--light-color);
  border: none;
  padding: 10px 20px;
  max-width: 350px;
  cursor: pointer;
}
.info__text{
    align-self: flex-start;
    margin: 0;
    display: flex;
    align-items: center;
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: rgb( 0, 0, 0 );
  font-weight: 300;
  width: 45%;
  box-sizing: border-box;

}
.text__focus{
  font-size: 125px;
  font-weight: 600;
  font-family: var(--main-font); 
  color: var(--light-color);
  margin-right: 20px;
}
.fifth.wrap__section{
    max-width: 100%;
}
.fifth__feedbacks div{
    opacity: 0.5;
}
.fifth__feedbacks div:hover{
    opacity: 1;
}
.feedbacks__img{
    width: 100%;
}
.sixth__links{
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-evenly;
}
.links__a{
    flex-basis: 25%;
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: #000;
  font-weight: 300;
  text-align: center;
  text-decoration: none;
  padding: 0 20px;

}
.links__a:after{
    content: "";
    display: block;
    margin: 0 auto;
    margin-top: 20px;
    width: 90%;
    height: 1px;
}
.links__a:hover:after{
    background: #000;

}
.seventh__h2-detail{
    font-size: 16px;
    font-weight: 300;
    display: block;
}
.seventh__request{
    width: 35%;
    margin: 0 auto;
}
.seventh__request,
.request__label{
    display: flex;
    flex-flow: column nowrap;
    justify-content: center;
    align-items: center;
    box-sizing: border-box;
}
.request__label{
    width: 100%;
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: rgb( 0, 0, 0 );
  line-height: 2;
  text-align: center;
  box-sizing: border-box;
}
.request__input{
    width: 100%;
    border: 1px solid #bfbfc0;
    border-radius: 20px;
    padding: 10px 15px;
    box-sizing: border-box;
}
.request__submit{
    margin-top: 30px;
}
.eighth__f-contacts{
    display: flex;
    align-items: center;
    justify-content: space-around;
}
.f-contacts__address,
.tel-mail__a{
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: rgb( 0, 0, 0 );
  line-height: 1.833;
  text-align: center;
  text-decoration: none;
}
.nineth.wrap__section{
    max-width: 100%;
    margin-bottom: 0;
}
.map__iframe{
    height: 450px;
    width: 100%;
    margin-bottom: -3px;
}
.footer{
    width: 100%;
    background: #aaaaaa;
}
.footer__con{
    width: 100%;
    max-width: 1400px;
    margin: 0 auto;
    padding: 60px 0;
    display: flex;
    flex-flow: row nowrap;
    align-items: flex-start;
    justify-content: space-between;
}
.footer__contacts,
.footer__nav{
    flex-basis: 50%;
    display: flex;
    flex-flow: column nowrap;
    align-items: center;
    justify-content: space-evenly;
}
.footer__contacts{
    align-items: flex-start;
}
.footer-nav{
    margin: 0;
    padding: 0;
    list-style: none;
}
.footer-nav__li--offers:before{
    content: "";
    width: 200%;
    height: 1px;
    margin-bottom: 25px;
    margin-top: 25px;
    background: #fff;
    display: block;
}
.contacts__logo{
    width: 55%;
    margin-bottom: 15px;
}
.contacts__link,
.li__footer-a{
  font-size: var(--font-size);
  font-family: var(--main-font);
  color: rgb( 255, 255, 255 );
  line-height: 2.333;
  text-decoration: none;
  /* vertical-align: baseline; */
}
.contacts__link{
    display: flex;
    align-items: center;
    justify-content: flex-start;
}
.contacts__link:before{
    margin-right: 10px;
    content: "";
    display: inline-block;
    background-repeat: no-repeat;
    background-position: center center;
    background-size: cover;
}
.contacts__link:nth-child(2):before{
    width: 25px;
    height: 25px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='phone' class='svg-inline--fa fa-phone fa-w-16' role='img' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z'/%3E%3C/svg%3E");
}
.contacts__link:nth-child(3):before{
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='phone' class='svg-inline--fa fa-phone fa-w-16' role='img' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M493.4 24.6l-104-24c-11.3-2.6-22.9 3.3-27.5 13.9l-48 112c-4.2 9.8-1.4 21.3 6.9 28l60.6 49.6c-36 76.7-98.9 140.5-177.2 177.2l-49.6-60.6c-6.8-8.3-18.2-11.1-28-6.9l-112 48C3.9 366.5-2 378.1.6 389.4l24 104C27.1 504.2 36.7 512 48 512c256.1 0 464-207.5 464-464 0-11.2-7.7-20.9-18.6-23.4z'/%3E%3C/svg%3E");
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='envelope' class='svg-inline--fa fa-envelope fa-w-16' role='img' viewBox='0 0 512 512'%3E%3Cpath fill='%23fff' d='M502.3 190.8c3.9-3.1 9.7-.2 9.7 4.7V400c0 26.5-21.5 48-48 48H48c-26.5 0-48-21.5-48-48V195.6c0-5 5.7-7.8 9.7-4.7 22.4 17.4 52.1 39.5 154.1 113.6 21.1 15.4 56.7 47.8 92.2 47.6 35.7.3 72-32.8 92.3-47.6 102-74.1 131.6-96.3 154-113.7zM256 320c23.2.4 56.6-29.2 73.4-41.4 132.7-96.3 142.8-104.7 173.4-128.7 5.8-4.5 9.2-11.5 9.2-18.9v-19c0-26.5-21.5-48-48-48H48C21.5 64 0 85.5 0 112v19c0 7.4 3.4 14.3 9.2 18.9 30.6 23.9 40.7 32.4 173.4 128.7 16.8 12.2 50.2 41.8 73.4 41.4z'/%3E%3C/svg%3E");
    width: 25px;
    height: 20px;
}
.contacts__link:nth-child(4):before{
    width: 25px;
    height: 34px;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' aria-hidden='true' focusable='false' data-prefix='fas' data-icon='map-marker-alt' class='svg-inline--fa fa-map-marker-alt fa-w-12' role='img' viewBox='0 0 384 512'%3E%3Cpath fill='%23fff' d='M172.268 501.67C26.97 291.031 0 269.413 0 192 0 85.961 85.961 0 192 0s192 85.961 192 192c0 77.413-26.97 99.031-172.268 309.67-9.535 13.774-29.93 13.773-39.464 0zM192 272c44.183 0 80-35.817 80-80s-35.817-80-80-80-80 35.817-80 80 35.817 80 80 80z'/%3E%3C/svg%3E");
}


@media (max-width: 1025px){
    :root{
        --font-size: 18px;
        --large-font: 18px;
    }
    .main-info__logo--img {
        width: 70%;
    }
    .serv__li {
        /*font-size: 18px;*/
    }
    .main-contacts__a {
        font-size: 24px;
    }
    .main-nav__a{
        /*font-size: 18px;*/
    }
    .f-about{
        padding: 20px;
    }
    .f-about__li {
        /*font-size: 18px;*/
        margin-bottom: 17px;
    }
    .section__h2{
        font-size: 30px;
        padding: 0 20px;
        margin: 0 auto;
        max-width: 768px;
        margin-bottom: 40px;
    }
    .slider__s-doc{
        height: 380px!important;
    }
    .wrap__section{
        margin: 70px auto;
    }
    .mar{
        height: 430px;
    }
    .footer__con,
    .wrap__section,
    .third__all-steps{
        max-width: 768px;
    }
    .links__a{
        padding: 0 10px;
    }
    .seventh__request {
        width: 65%;
    }
    .info__text{
        width: 55%;
    }
}
@media(max-width: 769px){
    :root{
        --font-size: 16px;
        --large-font: 18px;
    }
    .main-info__logo{
        width: 20%;
    }
    .main-info__logo--img{
        width: 100%;
    }
    .main-contacts__a {
        font-size: 20px;
    }
    .header__main-nav{
        padding-left: 0;
    }
    .main-nav{
        justify-content: space-around;
    }
    .first.wrap__section{
        position: relative;
        flex-flow: column;
        background: var(--main-color);
    }
    .f-img__img{
        margin: 0;
        position: absolute;
        opacity: 0.5;
        z-index: 0;
        max-height: 100%;
        left: 0;
        top: 0;
    }
    .first__f-about {
        flex: 1 1 100%;
        z-index: 10;
        position: relative;
    }
    .step__number{
        font-size: 80px;
    }
    .section__h2{
        margin-bottom: 30px;
        max-width: 425px;
    }
    .slider__s-doc{
        height: 380px!important;
    }
    .s-doc__name{
        font-size: 14px;
    }
    .footer__con,
    .wrap__section{
        max-width: 425px;
    }
    .footer__con{
        padding: 30px 0;
    }
    .info__text {
        width: 100%;
    }
    .sixth.wrap__section{
        max-width: 100%;
        padding: 0 20px;
    }
    .seventh__request {
        width: 100%;
        padding: 0 20px;
    }
    .map__iframe{
        height: 250px;
    }
    .contacts__logo {
        width: 100%;
    }
    .footer-nav__li--offers:before{
        width: 100%;
    }
}
/*@media(max-width: 376px){*/
@media(max-width: 424px){
    :root{
        --font-size: 14px;
    }
    .main-info__serv,
    .header__main-nav{
        display: none;
    }
    .main-info__logo{
        width: 45%;
    }
    .header__main-contacts:before{
        left: -5%;
    }
    .main-contacts__a{
        font-size: 18px;
    }
    .f-img__img{
        height: 100%;
    }
    .all-steps__step{
        margin-bottom: 10px;
    }
    .step__number {
        font-size: 50px;
        flex: 1 1 20%;
    }
    .map{
        height: 180px;
    }
    .info__text {
        width: 100%;
        padding: 0 20px;
    }
    .wrap__section{
        margin: 30px auto;
    }
    .footer__con,
    .sixth__links{
        flex-flow: column;
    }
    .links__a{
        flex-basis: 100%;
    }
    .footer__contacts, .footer__nav{
        flex-basis: 100%;
        padding: 0 20px;
        margin: 0 auto;
    }
    .footer__nav{
        text-align: center;
        margin-top: 20px;
    }
    .links__a:after{
        margin-top:10px;
        margin-bottom: 20px;
    }
}